accelerate
albumentations
beautifulsoup4
boto3
compel
flake8
gdown
hydra-core
hydra-optuna-sweeper
ipykernel
ipywidgets
jupyterlab
matplotlib
nltk
lxml
opencv-python
openpyxl
pandas
peft
pylint
pymongo
pymupdf
scikit-image
scikit-learn
scipy
seaborn
torchvision==0.17.1
