accelerate
albumentations
beautifulsoup4
boto3
compel
controlnet_aux
cryptography
cupy-cuda11x
diffusers==0.27.2
einops
fastapi
flake8
gdown
gputil
gradio
huggingface-hub==0.20.2
hydra-core
hydra-optuna-sweeper
h5py
insightface
invisible-watermark>=0.1.5
ipykernel
ipywidgets
jupyterlab
matplotlib
mlflow
nltk
onnxruntime
onnxruntime-gpu
opencv-python
openpyxl
pandas
peft
pylint
pymongo
pymupdf
requests
rich
safetensors
scikit-image
scikit-learn
scipy
seaborn
spaces==0.19.4
torchmetrics==0.6
torchvision==0.17.1
transformers==4.37.1
ultralytics
uvicorn
xformers
