accelerate
albumentations
boto3
compel
controlnet_aux
cryptography
cupy-cuda11x
diffusers==0.27.2
einops
fastapi
gdown
gputil
gradio
h5py
huggingface-hub==0.20.2
hydra-core
hydra-optuna-sweeper
insightface
invisible-watermark>=0.1.5
joblib
numpy
omegaconf
onnxruntime
onnxruntime-gpu
opencv-python
peft
rich
safetensors
scikit-image
scikit-learn
scipy
spaces==0.19.4
torch==2.2.1
torchmetrics==0.6
torchvision==0.17.1
tqdm
transformers==4.37.1
ultralytics
uvicorn
xformers
